#aboutContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    gap: 4rem;
}

#aboutContainer .greetings
{
    font-family: Ubuntu;
    color: var(--text);
    font-size: 2rem;

    width: 60%;
}

#aboutContainer .card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-width: 1px;
    border-style: solid;
    border-color: var(--text);
    border-radius: 2rem;

    width: 60%;
    padding: 2rem;

    color: var(--text);
    font-family: Ubuntu Mono;
    font-size: 2.5rem;
}

#aboutContainer .card h2
{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--primary);

    margin-top: -4rem;

    text-align: center;
    width: fit-content;
}

#aboutContainer .card ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#aboutContainer .card ul img
{
    width: 25vw;
    height: 25vw;
}

#aboutContainer .card ul p
{
    width: 50%;
    padding: 2rem;
}

#aboutContainer .card ul p a
{
    text-decoration: none;
    color: var(--secondary-strong);
    transition: 0.5s;
}

#aboutContainer .card ul p a:hover
{
    text-shadow: 0px 0px 10px var(--secondary);
    font-size: 2.75rem;
}

@media (max-width: 1000px)
{
    #aboutContainer .greetings
    {
        width: 80%;
    }

    #aboutContainer .card
    {
        width: 90%;
        padding: 1rem;
    }

    #aboutContainer .card h2
    {
        font-size: 3rem;

        width: 17rem;
        padding-left: 1rem;
        padding-right: 1rem;

        margin-top: -3rem;
        margin-bottom: 1rem;
    }

    #aboutContainer .card ul
    {
        flex-direction: column;
    }

    #aboutContainer .card ul p
    {
        width: 100%;
    }
}