#tabsContainer
{
    height: 7.5rem;
    width: 100vw;
    background-color: var(--primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

#tabsContainer .logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;

    width: 30rem;
}

#tabsContainer .logo img
{
    height: 5rem;
    width: 5rem;
}

#tabsContainer .logo span
{
    color: var(--text);
    font-family: 'Permanent Marker';
    font-size: 3rem;
}

#tabsContainer .buttons
{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 20rem;
}

#tabsContainer .buttons .about
{
    width: 10rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-color: var(--text);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 2.5rem;

    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
}

#tabsContainer .buttons .about:hover
{
    background-color: var(--text);
    color: var(--primary);
}

#tabsContainer .buttons .about span
{
    font-family: Ubuntu;
    font-size: 2rem;
}