#homeContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    gap: 2rem;
}

#homeContainer .info
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "words characters buttons"
        "lines paragraphs letters"
    ;

    width: 80vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

#homeContainer .info .showInfo
{
    font-family: Ubuntu;
    font-size: 2rem;
    color: var(--text);

    display: flex;
    align-items: center;
}

#homeContainer .info .buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#homeContainer .info .buttons .copy
{
    background: none;
    border: none;
    color: var(--text);
    font-size: 2.5rem;

    cursor: pointer;
    transition: 0.5s;
}

#homeContainer .info .buttons .copy:hover
{
    transform: scale(1.2);
}

#homeContainer .info .buttons .options
{
    background: none;
    border-color: var(--text);
    border-radius: 2rem;
    border-style: solid;

    width: 7rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    color: var(--text);
    font-size: 2.5rem;
    transition: background-color 0.5s, color 0.5s;
}

#homeContainer .info .buttons .options:hover
{
    background-color: var(--text);
    color: var(--primary);
}

#homeContainer .info .lettersContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeContainer .info .lettersContainer .letters
{
    width: 20rem;
    height: 3.5rem;
    margin-top: 0.5rem;

    background: none;
    border-color: var(--text);
    border-style: solid;
    border-radius: 2rem;

    font-size: 2rem;
    font-family: Ubuntu;
    color: var(--text);

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#homeContainer .info .letters:hover
{
    background-color: var(--text);
    color: var(--primary);
}

#homeContainer .textarea
{
    background-color: var(--primary);
    border-color: var(--textarea);
    border-radius: 2.5rem;
    border-style: solid;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
    transition: border-color 1s;

    padding: 2rem;
    height: calc(100vh - 7.5rem - 2 * 2rem - 8rem - 2rem);
    width: 80vw;
    overflow: -moz-hidden-unscrollable;

    color: var(--text);
    font-family: Roboto;
    font-size: 1.5rem;
}

#homeContainer .textarea:focus
{
    border-color: var(--textarea-focus);
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

::selection
{
    background-color: var(--secondary);
    color: var(--secondary-strong)
}

/* textarea::-webkit-resizer
{
    margin-right: 2rem;
    margin-bottom: 2rem;
} */