#lettersContainer h1
{
    font-family: Ubuntu;
    color: var(--text);
    font-size: 2.5rem;
}

#lettersContainer ul
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    column-gap: 5em;

    list-style: none;
}

#lettersContainer ul li
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 15rem;
}

#lettersContainer ul li label
{
    font-family: Ubuntu;
    color: var(--text);
    font-size: 1.75rem;

    cursor: text;
}

#lettersContainer button
{
    height: 5rem;
    width: 11rem;
    border: none;
    border-radius: 2rem;

    background-color: var(--secondary-strong);
    color: var(--primary);
    font-family: Ubuntu;
    font-size: 2.5rem;

    cursor: pointer;
    transition: 0.5s;
}

#lettersContainer button:hover
{
    background-color: var(--primary);
    color: var(--secondary-strong);
}

@media (max-width: 700px)
{
    #lettersContainer ul
    {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;

        height: fit-content;
    }

    #lettersContainer button
    {
        height: 4rem;
        width: 8.8rem;
        font-size: 2rem;

        margin-bottom: 2rem;
    }

    #lettersContainer ul li label
    {
        font-size: 1.5rem;
    }
}